
.accordion {
    background-color: #eee;
    color: #444;
    width: 100%;
    cursor: pointer;
    padding: 18px;

    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


.active, .accordion:hover {
    background-color: #ccc;
}


.panel {
   
    margin: 0;
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.2s ease-out;
}


.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


.active:after {
    content: "\2796";
}
